body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"StradaOT-Bold", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:StradaOT, sans-serif;
	font-size:540px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:StradaOT, sans-serif;
	font-size:314.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:StradaOT, sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"StradaOT-Bold", sans-serif;
	font-size:540px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"StradaOT-Bold", sans-serif;
	font-size:2320px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#0061ac;
	font-family:StradaOT, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(752.988px,339.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(752.988px,339.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1103.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(752.988px,339.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(752.988px,339.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2108.20px;
}
#_idContainer001 {
	-ms-transform:translate(-28.347px,204.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-28.347px,204.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:1554.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-28.347px,204.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-28.347px,204.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:781.33px;
}
#_idContainer002 {
	-ms-transform:translate(122.515px,-28.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(122.515px,-28.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:367.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(122.515px,-28.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(122.515px,-28.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2740.48px;
}
#_idContainer003 {
	-ms-transform:translate(752.988px,1415.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(752.988px,1415.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/3.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:341.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(752.988px,1415.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(752.988px,1415.586px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1767.06px;
}
#_idContainer004 {
	-ms-transform:translate(2129.883px,815.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2129.883px,815.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1084.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2129.883px,815.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2129.883px,815.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1084.60px;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,1757.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1757.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:226.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1757.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1757.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2834.65px;
}
#_idContainer006 {
	-ms-transform:translate(659.461px,1826.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(659.461px,1826.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:130.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(659.461px,1826.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(659.461px,1826.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:385.51px;
}
#_idContainer007 {
	-ms-transform:translate(-167.245px,-83.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-167.245px,-83.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:465.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-167.245px,-83.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-167.245px,-83.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1499.53px;
}
#_idContainer008 {
	-ms-transform:translate(707.634px,46.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(707.634px,46.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:249.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(707.634px,46.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(707.634px,46.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1998.36px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:232.89px;
}
#_idContainer010 {
	-ms-transform:translate(161.373px,9.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(161.373px,9.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(161.373px,9.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(161.373px,9.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.90px;
}
#_idContainer011 {
	-ms-transform:translate(134.812px,32.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(134.812px,32.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(134.812px,32.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(134.812px,32.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.61px;
}
#_idContainer012 {
	-ms-transform:translate(107.706px,43.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(107.706px,43.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(107.706px,43.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(107.706px,43.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:49.24px;
}
#_idContainer013 {
	-ms-transform:translate(80.657px,57.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.657px,57.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.657px,57.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(80.657px,57.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.97px;
}
#_idContainer014 {
	-ms-transform:translate(53.002px,74.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.002px,74.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.002px,74.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(53.002px,74.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.66px;
}
#_idContainer015 {
	-ms-transform:translate(148.794px,79.607px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(148.794px,79.607px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(148.794px,79.607px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(148.794px,79.607px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.95px;
}
#_idContainer016 {
	-ms-transform:translate(160.163px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(160.163px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(160.163px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(160.163px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.12px;
}
#_idContainer017 {
	-ms-transform:translate(169.952px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(169.952px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(169.952px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(169.952px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.12px;
}
#_idContainer018 {
	-ms-transform:translate(179.741px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(179.741px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(179.741px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(179.741px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.76px;
}
#_idContainer019 {
	-ms-transform:translate(190.421px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(190.421px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(190.421px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(190.421px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.34px;
}
#_idContainer020 {
	-ms-transform:translate(199.995px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(199.995px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.995px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(199.995px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.99px;
}
#_idContainer021 {
	-ms-transform:translate(209.603px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(209.603px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.603px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(209.603px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.99px;
}
#_idContainer022 {
	-ms-transform:translate(219.842px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(219.842px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(219.842px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(219.842px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.83px;
}
#_idContainer023 {
	-ms-transform:translate(235.528px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(235.528px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(235.528px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(235.528px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.49px;
}
#_idContainer024 {
	-ms-transform:translate(241.496px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(241.496px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(241.496px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(241.496px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.46px;
}
#_idContainer025 {
	-ms-transform:translate(251.182px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(251.182px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(251.182px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(251.182px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.45px;
}
#_idContainer026 {
	-ms-transform:translate(260.869px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(260.869px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(260.869px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(260.869px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.75px;
}
#_idContainer027 {
	-ms-transform:translate(270.947px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(270.947px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(270.947px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(270.947px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.88px;
}
#_idContainer028 {
	-ms-transform:translate(279.319px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(279.319px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.319px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(279.319px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.12px;
}
#_idContainer029 {
	-ms-transform:translate(288.352px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(288.352px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(288.352px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(288.352px,79.091px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.34px;
}
#_idContainer030 {
	-ms-transform:translate(297.928px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.928px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.928px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.928px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.46px;
}
#_idContainer031 {
	-ms-transform:translate(308.244px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(308.244px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(308.244px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(308.244px,82.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.76px;
}
#_idContainer032 {
	-ms-transform:translate(322.981px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(322.981px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(322.981px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(322.981px,82.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.57px;
}
#_idContainer033 {
	-ms-transform:translate(332.561px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(332.561px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(332.561px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(332.561px,82.337px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.46px;
}
#_idContainer034 {
	-ms-transform:translate(342.876px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(342.876px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(342.876px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(342.876px,82.288px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.34px;
}
#_idContainer035 {
	-ms-transform:translate(148.576px,97.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(148.576px,97.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(148.576px,97.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(148.576px,97.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.59px;
}
#_idContainer036 {
	-ms-transform:translate(162.453px,101.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(162.453px,101.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(162.453px,101.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(162.453px,101.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.19px;
}
#_idContainer037 {
	-ms-transform:translate(174.054px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(174.054px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(174.054px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(174.054px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.46px;
}
#_idContainer038 {
	-ms-transform:translate(187.042px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.042px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.042px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.042px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.16px;
}
#_idContainer039 {
	-ms-transform:translate(192.066px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.066px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.066px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.066px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.29px;
}
#_idContainer040 {
	-ms-transform:translate(205.219px,97.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(205.219px,97.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(205.219px,97.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(205.219px,97.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.90px;
}
#_idContainer041 {
	-ms-transform:translate(210.110px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(210.110px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(210.110px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(210.110px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.59px;
}
#_idContainer042 {
	-ms-transform:translate(223.362px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(223.362px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(223.362px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(223.362px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.45px;
}
#_idContainer043 {
	-ms-transform:translate(235.683px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(235.683px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(235.683px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(235.683px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.98px;
}
#_idContainer044 {
	-ms-transform:translate(255.891px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.891px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(255.891px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.891px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.29px;
}
#_idContainer045 {
	-ms-transform:translate(269.043px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(269.043px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.043px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(269.043px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.45px;
}
#_idContainer046 {
	-ms-transform:translate(288.652px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(288.652px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(288.652px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(288.652px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.99px;
}
#_idContainer047 {
	-ms-transform:translate(301.574px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(301.574px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(301.574px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(301.574px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.29px;
}
#_idContainer048 {
	-ms-transform:translate(322.212px,97.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(322.212px,97.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(322.212px,97.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(322.212px,97.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.05px;
}
#_idContainer049 {
	-ms-transform:translate(336.379px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(336.379px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(336.379px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(336.379px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.06px;
}
#_idContainer050 {
	-ms-transform:translate(345.098px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.098px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.098px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.098px,97.827px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.17px;
}
#_idContainer051 {
	-ms-transform:translate(350.954px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(350.954px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(350.954px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(350.954px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.48px;
}
#_idContainer052 {
	-ms-transform:translate(371.088px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(371.088px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(371.088px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(371.088px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.99px;
}
#_idContainer053 {
	-ms-transform:translate(383.208px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.208px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.208px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.208px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.29px;
}
#_idContainer054 {
	-ms-transform:translate(396.360px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.360px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.360px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.360px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.46px;
}
#_idContainer055 {
	-ms-transform:translate(408.683px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(408.683px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(408.683px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(408.683px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.29px;
}
#_idContainer056 {
	-ms-transform:translate(421.833px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(421.833px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(421.833px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(421.833px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.06px;
}
#_idContainer057 {
	-ms-transform:translate(429.684px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(429.684px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(429.684px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(429.684px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.25px;
}
#_idContainer058 {
	-ms-transform:translate(446.649px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(446.649px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(446.649px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(446.649px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.59px;
}
#_idContainer059 {
	-ms-transform:translate(459.105px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(459.105px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(459.105px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(459.105px,101.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.58px;
}
#_idContainer060 {
	-ms-transform:translate(472.354px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(472.354px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(472.354px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(472.354px,101.684px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.06px;
}
#_idContainer061 {
	-ms-transform:translate(480.406px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(480.406px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(480.406px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(480.406px,97.257px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.99px;
}
#_idContainer062 {
	-ms-transform:translate(113.385px,97.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(113.385px,97.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(113.385px,97.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(113.385px,97.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:490.39px;
}
#_idContainer063 {
	-ms-transform:translate(2068.101px,1829.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2068.101px,1829.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2068.101px,1829.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2068.101px,1829.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:170.08px;
}
#_idContainer064 {
	-ms-transform:translate(1196.220px,1834.368px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1196.220px,1834.368px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:106.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1196.220px,1834.368px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1196.220px,1834.368px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:273.11px;
}
#_idContainer065 {
	-ms-transform:translate(2388.394px,1835.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2388.394px,1835.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2388.394px,1835.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2388.394px,1835.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:307.05px;
}
#_idContainer066 {
	-ms-transform:translate(1622.507px,1845.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1622.507px,1845.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1622.507px,1845.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1622.507px,1845.925px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:307.05px;
}
#_idContainer067 {
	-ms-transform:translate(22.873px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(22.873px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.873px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(22.873px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:158.74px;
}
#_idContainer068 {
	-ms-transform:translate(0.000px,174.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,174.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,174.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,174.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:204.49px;
}
#_idContainer069 {
	-ms-transform:translate(1906.299px,1486.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1906.299px,1486.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:201.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1906.299px,1486.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1906.299px,1486.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:204.49px;
}
#_idContainer070 {
	-ms-transform:translate(70.866px,1774.131px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.866px,1774.131px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.866px,1774.131px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.866px,1774.131px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:463.22px;
}
#_idContainer071 {
	-ms-transform:translate(209.763px,1816.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(209.763px,1816.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.763px,1816.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(209.763px,1816.275px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:326.29px;
}
#_idContainer072 {
	-ms-transform:translate(200.940px,1921.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(200.940px,1921.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.940px,1921.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(200.940px,1921.181px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:371.66px;
}
#_idContainer073 {
	-ms-transform:translate(70.283px,1773.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.283px,1773.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.283px,1773.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.283px,1773.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:696.49px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
