.menuBarAdmin {
    border-style: solid;
    border-width: 2px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.kyndaLogo {
    margin-top: 0.3%;
}

.logOutButton {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Raleway;
    margin-left: 1.8%;
    margin-right: 1.8%;
    width: 80px;
    height: 20px;
    text-align: center;
    cursor: pointer;

    background: -moz-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: -webkit-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: linear-gradient(to right, #0000ff 0%, #fe04ff 56%, #db0000 100%);
}

.kyndaCog {
    margin-top: 0.2%;
    cursor: pointer;
}

.adminPortalHeader {
    font-family: Raleway;
    margin-left: 1.5%;
    font-size: 35px;
}

.dropDown {
    font-family: Raleway;
    margin-left: 65%;
}

.mainPage {
    margin-left: 20px;
    margin-top: 20px;
}

.listViewTxtBox {
    margin-left: 2%;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listViewTxt {
    font-family: Raleway;
    margin-left: 3.7%;
    font-size: 25px;
    text-align: center;
}

.midSection {
    display: flex;
    justify-content: flex-start;
}

.userPortalList {
    border-style: solid;
    margin-top: 1%;
    margin-left: 1%;
    height: 700px;
    width: 300px;
    overflow-y: scroll;
}

.userPortalItemBox {
    border-style: groove;
    background: white;
    width: auto;
    height: 19.15%;
}

.selectUserPortalButton {
    display: none;
}

.userPortalItemBox:hover {
    width: auto;
    background: rgb(77, 77, 77);
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 110%;
}

.userPortalItem {
    width: auto;
    height: 88%;
    font-family: Raleway;
    text-align: center;
    padding-top: 5%;
}

.userPortalItem:hover > .selectUserPortalButton {
    width: auto;
    display: block;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: -moz-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: -webkit-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: linear-gradient(to right, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    cursor: pointer;
}

.addUserPortalButton {
    font-family: Raleway;
    width: 250px;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 7%;
    font-size: 20px;
    text-align: center;
    color: white;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: -moz-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: -webkit-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: linear-gradient(to right, #0000ff 0%, #fe04ff 56%, #db0000 100%);

    cursor: pointer;
}

/* was for downloadstatistics, re-use in mainView derived divs */
/*.downloadsviewtxt {
    margin-left: 25.2%;
    font-family: Raleway;
    font-size: 25px;
}

.downloadstatistics {
    border-style: hidden;
    margin-top: 1%;
    margin-left: 10%;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.templatedownloadsbox, .designdownloadsbox {
    border-style: solid;
    height: 99%;
    width: 50%;
    overflow-y: scroll;
}

.statheader {
    font-family: Raleway;
    text-align: center;
    font-size: 20px;
    color: white;
    border-style: groove;
    border-color: black;
    background: -moz-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: -webkit-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: linear-gradient(
        to right,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    width: auto;
    height: 5%;
}

.templatedownloads, .designdownloads {
    border-style: groove;
    background: white;
    width: auto;
    height: 14%;
    text-align: center;
}

.templatedownloadstxt, .designdownloadstxt {
    padding-top: 5%;
}*/

.mainView {
    font-family: Raleway;
    margin-top: 1%;
    margin-left: 6%;
    border: solid 4px black;
    display: none;
    height: 700px;
    width: 70%;
}

.mainViewLeft {
    width: 40%;
    height: 100%;
    border-style: none;
}

.mainViewLeftTop {
    height: 10%;
    width: 100%;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainViewHeader {
    font-size: 35px;
}

.mainViewCompany {
    margin-top: 1%;
    margin-left: 5%;
    font-size: 20px;
}

.mainViewLeftUser {
    height: 12%;
    width: 100%;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.mainViewLeftUserHeader {
    height: 100%;
    width: 28%;
    border-right: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(254, 4, 255);
}

.mainViewLeftUserData {
    height: 100%;
    width: 72%;
}

.mainViewLeftUserId {
    margin-left: 4%;
    padding-top: 1%;
}

.mainViewLeftUserId,
.mainViewLeftUserName,
.mainViewLeftUserContact {
    display: flex;
    align-items: flex-start;
    margin-left: 4%;
}

.mainViewLeftLists {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 91.9%;
}

.mainViewLeftUserList {
    border-style: none;
    height: 100%;
    width: 50%;
}

.mainViewLeftUserDataHeader {
    height: 7%;
    width: 100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background: rgb(0, 0, 255);
}

.mainViewLeftUserDataList {
    border-right: solid 2px black;
    width: 100%;
    height: 77%;
    overflow-y: scroll;
}

.userItemBox {
    border: groove;
    width: auto;
    height: 20%;
}

.deleteUser {
    display: none;
}

.userItemBox:hover {
    display: block;
    width: auto;
    background: rgb(77, 77, 77);
    opacity: 0.9;
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 110%;
}

.userItem {
    width: auto;
    height: 100%;
    text-align: center;
    padding-top: 5%;
}

.userItem:hover > .deleteUser {
    width: auto;
    display: block;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: -moz-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: -webkit-linear-gradient(left, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    background: linear-gradient(to right, #0000ff 0%, #fe04ff 56%, #db0000 100%);
    cursor: pointer;
}

.mainViewLeftDownloads {
    border-style: none;
    height: 100%;
    width: 50%;
}

.mainViewLeftDownloadsHeader {
    height: 7%;
    width: 99.2%;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background: rgb(0, 0, 255);
}

.mainViewLeftDownloadsList {
    border-right: solid 2px black;
    width: 100%;
    height: 77%;
    overflow-y: scroll;
}

.DownloadItemBox {
    border: groove;
    width: auto;
    height: 20%;
}

.DownloadItem {
    width: auto;
    height: 100%;
    text-align: center;
    padding-top: 5%;
}
