.menubar {
    border-style: solid;
    border-width: 2px;
    height: 60px;
    width: 99.8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menubartext {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.klantenportaalHeader {
    font-family: Raleway;
    margin-left: 1.5%;
    margin-right: 66%;
    font-size: 35px;
}

.kyndalogo {
    margin-top: 0.3%;
}

.kyndacog {
    margin-top: 0.2%;
}

.dropdown {
    font-family: Raleway;
}

loguitbutton {
    font-size: 15px;
    color: white;
}

/*
    Kynda gradient:
    background: -moz-linear-gradient(left, #0000FF 0%, #FE04FF 56%, #DB0000 100%);
    background: -webkit-linear-gradient(left, #0000FF 0%, #FE04FF 56%, #DB0000 100%);
    background: linear-gradient(to right, #0000FF 0%, #FE04FF 56%, #DB0000 100%);
*/

.logoutbutton {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Raleway;
    margin-left: 1.8%;
    margin-right: 1.8%;
    width: 80px;
    height: 20px;
    text-align: center;

    background: -moz-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: -webkit-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: linear-gradient(
        to right,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
}

.plusimage {
    margin-top: 110px;
    margin-left: 50px;
}

.itemlist {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.item {
    border-style: solid;
    width: 250px;
    height: 350px;
    /*
        verhouding is 1.4
    */
}

.lastitem {
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 350px;
    /*
        verhouding is 1.4
    */

    color: white;
    font-family: Raleway;
    font-size: 40px;
    text-align: center;

    background: -moz-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: -webkit-linear-gradient(
        left,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
    background: linear-gradient(
        to right,
        #0000ff 0%,
        #fe04ff 56%,
        #db0000 100%
    );
}

.mainpage {
    margin-left: 20px;
    margin-top: 20px;
}

.recent {
    font-family: Raleway;
    font-size: 30px;
    margin-bottom: 5px;
}
