.menubar {
    border-style: solid;
    border-width: 2px;
    height: 60px;
    width: 99.8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fotogalerijHeader {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.5%;
    margin-right: 45%;
    font-size: 35px;
}

.searchbar input[type='text'] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    position: relative;
}

.fotogallery {
    position: relative;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.picture img {
    width: 100% !important;
    height: auto !important;
}

.picture button[type='button'] {
    margin: auto;
    background-color: blue;
    position: absolute;
    padding: 15px 32px;
    color: white;
    text-align: center;
    display: none;
    font-size: 16px;
    border-style: solid;
    z-index: 1000;
    border-radius: 25px;
    border: solid blue;
    box-sizing: border-box;
}

.picture button[type='button'] {
    margin: auto;
    background-color: blue;
    position: absolute;
    padding: 15px 32px;
    color: white;
    text-align: center;
    display: none;
    font-size: 16px;
    border-style: solid;
    z-index: 1000;
    border-radius: 25px;
    border: solid blue;
    box-sizing: border-box;
}

.adminButton button[type='button'] {
    background-color: rgb(255, 174, 0);
    padding: 5px 30px;
    color: white;
    text-align: center;
    display: block;
    font-size: 16px;
    border-style: solid;
    border-radius: 25px;
    border: solid rgb(255, 174, 0);
    box-sizing: border-box;
}
